In [6]:
import os
from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
import json
import numpy as np
import pandas as pd

In [55]:

# Create an engine 
engine = create_engine("postgresql+psycopg2://cggjytcd:2Lf6GkD0Cb8TbV6e4-X7ZBCvNMh_zV3F@raja.db.elephantsql.com:5432/cggjytcd", echo=False)

# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)

print(Base.classes.keys())
can_cases = Base.classes.can_cases
can_deaths = Base.classes.can_deaths
vaccine_admin = Base.classes.vaccine_admin
canadian_coordinates = Base.classes.canadian_coordinates
global_cases = Base.classes.global_cases
global_deaths = Base.classes.global_deaths
world_coordinates = Base.classes.world_cordinates
zoom = Base.classes.zoom
slack = Base.classes.slack
cisco = Base.classes.cisco
shopify = Base.classes.shopify
cnn_news = Base.classes.cnn_news


session = Session(engine)

['can_cases', 'can_deaths', 'global_cases', 'stock_prices', 'cnn_news', 'canadian_coordinates', 'vaccine_admin', 'zoom', 'slack', 'shopify', 'cisco', 'world_cordinates', 'global_deaths']

In [3]:
nt_cases_data = session.query(can_cases.No_Cases).filter(can_cases.Date_dt =="Sun, 31 Jan 2021 00:00:00 GMT").filter(can_cases.Province == "Ontario").all()

In [4]:
nt_cases_data

[(272917)]

In [63]:
session.close()

In [57]:
deaths_data = session.query(can_deaths.Province, can_deaths.No_Deaths).filter(can_deaths.Date_dt =="Sun, 31 Jan 2021 00:00:00 GMT").order_by(can_deaths.Province.desc()).all()
vaccine_data = session.query(vaccine_admin.Province, vaccine_admin.Vaccine_Administered).order_by(vaccine_admin.Province.desc()).all()
cases_data = session.query(can_cases.Province, can_cases.No_Cases).filter(can_cases.Date_dt =="Sun, 31 Jan 2021 00:00:00 GMT").order_by(can_cases.Province.desc()).all()

In [62]:
deaths_data

[('Yukon', 1),
 ('Saskatchewan', 268),
 ('Quebec', 9794),
 ('Prince Edward Island', 0),
 ('Ontario', 6196),
 ('Nunavut', 1),
 ('Nova Scotia', 65),
 ('Northwest Territories', 0),
 ('Newfoundland and Labrador', 4),
 ('New Brunswick', 18),
 ('Manitoba', 829),
 ('British Columbia', 1189),
 ('Alberta', 1639)]

In [61]:
master_dict=[]
for i, row in enumerate(deaths_data):
    prov_dict={}
    prov_dict['province']=row[0]
    prov_dict['deaths']=row[1]
    prov_dict['cases']=cases_data[i][1]
    prov_dict['vaccines']=vaccine_data[i][1]
    master_dict.append(prov_dict)
    
master_dict

[{'province': 'Yukon', 'deaths': 1, 'cases': 70, 'vaccines': 5966},
 {'province': 'Saskatchewan',
  'deaths': 268,
  'cases': 22646,
  'vaccines': 35091},
 {'province': 'Quebec', 'deaths': 9794, 'cases': 262583, 'vaccines': 236726},
 {'province': 'Prince Edward Island',
  'deaths': 0,
  'cases': 111,
  'vaccines': 7510},
 {'province': 'Ontario', 'deaths': 6196, 'cases': 272917, 'vaccines': 327455},
 {'province': 'Nunavut', 'deaths': 1, 'cases': 294, 'vaccines': 5316},
 {'province': 'Nova Scotia', 'deaths': 65, 'cases': 1570, 'vaccines': 14589},
 {'province': 'Northwest Territories',
  'deaths': 0,
  'cases': 35,
  'vaccines': 9471},
 {'province': 'Newfoundland and Labrador',
  'deaths': 4,
  'cases': 408,
  'vaccines': 10080},
 {'province': 'New Brunswick', 'deaths': 18, 'cases': 1256, 'vaccines': 14257},
 {'province': 'Manitoba', 'deaths': 829, 'cases': 29564, 'vaccines': 37309},
 {'province': 'British Columbia',
  'deaths': 1189,
  'cases': 66779,
  'vaccines': 129241},
 {'province': 'Alberta', 'deaths': 1639, 'cases': 124208, 'vaccines': 104327}]

In [67]:
master_dict={}
for i, row in enumerate(deaths_data):
    master_dict[row[0]]={
        'deaths': row[1],
        'cases': cases_data[i][1],
        'vaccines': vaccine_data[i][1]
    }
    
master_dict

{'Yukon': {'deaths': 1, 'cases': 70, 'vaccines': 5966},
 'Saskatchewan': {'deaths': 268, 'cases': 22646, 'vaccines': 35091},
 'Quebec': {'deaths': 9794, 'cases': 262583, 'vaccines': 236726},
 'Prince Edward Island': {'deaths': 0, 'cases': 111, 'vaccines': 7510},
 'Ontario': {'deaths': 6196, 'cases': 272917, 'vaccines': 327455},
 'Nunavut': {'deaths': 1, 'cases': 294, 'vaccines': 5316},
 'Nova Scotia': {'deaths': 65, 'cases': 1570, 'vaccines': 14589},
 'Northwest Territories': {'deaths': 0, 'cases': 35, 'vaccines': 9471},
 'Newfoundland and Labrador': {'deaths': 4, 'cases': 408, 'vaccines': 10080},
 'New Brunswick': {'deaths': 18, 'cases': 1256, 'vaccines': 14257},
 'Manitoba': {'deaths': 829, 'cases': 29564, 'vaccines': 37309},
 'British Columbia': {'deaths': 1189, 'cases': 66779, 'vaccines': 129241},
 'Alberta': {'deaths': 1639, 'cases': 124208, 'vaccines': 104327}}

In [43]:
df_deaths=pd.DataFrame(deaths_data)
df_vaccine=pd.DataFrame(vaccine_data)
df_cases=pd.DataFrame(cases_data)

In [45]:
final_df=pd.merge(df_deaths, df_vaccine, on='Province', how='outer')
final_df=pd.merge(final_df, df_cases, on='Province', how='outer')

final_df.to_dict()

{'Province': {0: 'Alberta',
  1: 'British Columbia',
  2: 'Manitoba',
  3: 'New Brunswick',
  4: 'Newfoundland and Labrador',
  5: 'Northwest Territories',
  6: 'Nova Scotia',
  7: 'Nunavut',
  8: 'Ontario',
  9: 'Prince Edward Island',
  10: 'Quebec',
  11: 'Saskatchewan',
  12: 'Yukon'},
 'No_Deaths': {0: 1639,
  1: 1189,
  2: 829,
  3: 18,
  4: 4,
  5: 0,
  6: 65,
  7: 1,
  8: 6196,
  9: 0,
  10: 9794,
  11: 268,
  12: 1},
 'Vaccine_Administered': {0: 104327,
  1: 129241,
  2: 37309,
  3: 14257,
  4: 10080,
  5: 9471,
  6: 14589,
  7: 5316,
  8: 327455,
  9: 7510,
  10: 236726,
  11: 35091,
  12: 5966},
 'No_Cases': {0: 124208,
  1: 66779,
  2: 29564,
  3: 1256,
  4: 408,
  5: 35,
  6: 1570,
  7: 294,
  8: 272917,
  9: 111,
  10: 262583,
  11: 22646,
  12: 70}}

In [25]:
test=pd.read_sql('select * from can_cases', engine)
test

        Date_dt                   Province  No_Cases
0    2020-01-22                    Alberta         0
1    2020-01-22           British Columbia         0
2    2020-01-22                   Manitoba         0
3    2020-01-22              New Brunswick         0
4    2020-01-22  Newfoundland and Labrador         0
...         ...                        ...       ...
4883 2021-01-31                    Ontario    272917
4884 2021-01-31       Prince Edward Island       111
4885 2021-01-31                     Quebec    262583
4886 2021-01-31               Saskatchewan     22646
4887 2021-01-31                      Yukon        70

[4888 rows x 3 columns]

In [26]:
test=pd.read_sql("select 'Province', 'No_cases' from can_cases where 'Date_dt'='2021-01-31';", engine)

In [27]:
test

Empty DataFrame
Columns: [?column?, ?column?]
Index: []